<h1>formulario de contacto web</h1>
<p>En esta página podras elaborar un formulario para contactar con el responsable (administrador) de esta web.</p>

<form method="POST" action="/contacto">

<!-- Necesitamos un input email, un textareo y un boton de enviar (submit) -->
    <label>Email:</label>
    <input type="email" name="email" />

    <label>Mensaje</label>
    <textarea name="message"> tu mensaje </textarea> 

    <input type="submit" value="Enviar" />


</form>