<h1>Hola mundo! Mi primera web!</h1>
<p>Este es mi párrafo de prueba</p>
<p>Aqui termina esta web de prueba, puedes escribirme en mi página de contacto.</p>
<p>Aqui esta el<a href="/contacto">link de cntacto</a></p>