<h1>Hola mundo! Mi primera web!</h1>
<p>Este es mi párrafo de prueba</p>
<p>Si eres un usuario de la web puedes hacer login en este<a href="/login"> link.</a></p>
<p>Aqui termina esta web de prueba, puedes escribirme en mi página de contacto.</p>
<p>Aqui esta el <a href="/contacto"> link de contacto</a></p>

<div class="row" id="crypto-list"></div>

<h2>Market Cap</h2>

<div class="row" id="realcrypto-list"></div>

<h2>Un perrete</h2>

<div class="row" id="dog-img"></div>

<script src="/js/home.js"></script>