<h1>formulario de login</h1>
<p>En esta página podras darte de alta.</p>

<!-- Vamos a crear una variable en la plantilla, lo que nos permitira introducir o mostrar algo. En este caso queremo introducir texto de respuesta al login incorrecto -->

<!-- Necesitamos un input usuario, una contraseña y un boton de enviar (submit) -->

<form method="POST" action="/login">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
        type="text"
        name="user"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input
        type="password"
        name="password"
        class="form-control"
        id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>